@font-face {
  font-family: 'Open Sans';
  src: url(./assets/OpenSansVariableFont.ttf) format('truetype');
  font-weight: 1 999;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}


/* TODO: Fix size of background */
body {
  font-family: 'Open Sans', sans-serif;
  background: url('./assets/mealPrepMarketBackgroundDesktop.png') center center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#container {
  width: 100%;
}

#footerDiv {
  max-width: 100%;
  margin: 0 auto;
  height: 75px;
}

#footer {
  position: relative;
  left: calc(-50vw + 50%);
  bottom: -1.5rem;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding-top: 1rem;
  color: #edf5e1;
  background: #05386b;
  font-size: 0.85rem;
  border-top: 3px solid #edf5e1;
}

#footer a {
  color: #edf5e1;
}

@media screen and (min-width: 1216px) and (max-width: 1407px) {
  #footer {
    bottom: -1rem;
  }
}

@media screen and (min-width: 1033px) and (max-width: 1215px) {
  #footer {
    bottom: -1.5rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1032px) {
  #footer {
    bottom: -3rem;
  }
}