@font-face {
  font-family: 'Open Sans';
  src: url(./assets/OpenSansVariableFont.ttf) format('truetype');
  font-weight: 1 999;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}


/* TODO: Fix size of background */
body {
  font-family: 'Open Sans', sans-serif!important;
  background: url('./assets/mealPrepMarketBackgroundDesktop.png') center center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#container {
  width: 100%;
  height: 100vh;
}

#footerDiv {
  max-width: 100%;
  margin: 0 auto;
  height: 75px;
}

#footer {
  position: relative;
  left: calc(-50vw + 50%);
  bottom: -1.5rem;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding-top: 1rem;
  color: #edf5e1;
  background: #05386b;
  font-size: 0.85rem;
  border-top: 3px solid #edf5e1;
}

#footer a {
  color: #edf5e1;
}

@media screen and (min-width: 1216px) and (max-width: 1407px) {
  #footer {
    bottom: -1rem;
  }
}

@media screen and (min-width: 1033px) and (max-width: 1215px) {
  #footer {
    bottom: -1.5rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1032px) {
  #footer {
    bottom: -3rem;
  }
}

/* * FORMS * */
@media screen and (max-width: 768px) {
  .formContainer {
    padding-top: 20px;
    width: 100%;
  }
}

.form {
  font-family: 'Open Sans', sans-serif;
  background: #05386b;
}

@media screen and (max-width: 768px) {
  .form {
    position: relative;
    left: calc(-50vw + 50%);
    width: 100vw;
    padding: 40px 100px;
    margin-top: -5vh;
    border-radius: 0;
  }
}

@media screen and (max-width: 480px) {
  .form {
    position: relative;
    left: calc(-50vw + 50%);
    width: 100vw;
    padding: 40px 20px;
    margin-top: -7vh;
    border-radius: 0;
  }
}

.formTitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #edf5e1;
  margin-bottom: 1rem;
}

.formInput {
  background: #05386b;
}

.formButton {
  font-family: 'Open Sans', sans-serif;
  background: #5cdb95;
  color: #05386b;
  border: solid 2px #5cdb95;
  box-shadow: 0 0 5px 1px rgba(92, 219, 149, 0.5);
  transition: all 0.2s ease-in-out;
}

.formButton:hover {
  background: #8ee4af;
}