@font-face {
  font-family: 'Open Sans';
  src: url(./assets/OpenSansVariableFont.ttf) format('truetype');
  font-weight: 1 999;
}

@font-face {
  font-family: 'Montserrat';
  src: url(./assets/MontserratVariableFontwght.ttf) format('truetype');
  font-weight: 1 999;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* TODO: Fix size of background */
body {
  font-family: 'Open Sans', sans-serif!important;
  background: url('./assets/mealPrepMarketBackgroundDesktop.png') center center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

#container {
  width: 100%;
}

/* * Footer * */
#footerDiv {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  bottom: 0;
}

#footer {
  position: relative;
  left: calc(-50vw + 50%);
  bottom: 0;
  width: 100vw;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #edf5e1;
  background: #05386b;
  font-size: 1rem;
  border-top: 3px solid #edf5e1;
}

#footer a {
  color: #edf5e1;
}

/* * FORMS * */
  .formContainer {
    margin-bottom: 40%;
    max-height: 50vh;
  }

.form {
  font-family: 'Open Sans', sans-serif;
  background: #05386b;
  margin-top: 12rem;
}

.formTitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #edf5e1;
  margin-bottom: 1rem;
}

/* * Listing By ID * */
#listingById {
  margin-bottom: 8rem;
}

.listingCard {
  background: #edf5e1;
  margin-top: 11rem;
}

.listingTitle {
  color: #05386b;
  font-weight: 400;
}

.listingText {
  color: #05386b;
  font-family: 'Open Sans', sans-serif;
}

.description {
  white-space: pre-line;
  background-color: #05386b;
  color: #edf5e1;
  padding: 20px 30px;
  border-radius: 0 0 10px 10px;
  width: 550px;
}

/* * Cards * */
.cardText {
  color: #05386b;
}

/* * Buttons * */
.formButton {
  font-family: 'Open Sans', sans-serif;
  background: #5cdb95;
  color: #05386b;
  border: solid 2px #5cdb95;
  box-shadow: 0 0 5px 1px rgba(92, 219, 149, 0.5);
  transition: all 0.2s ease-in-out;
}

.formButton:hover {
  background: #8ee4af;
}

.darkButton {
  background: #05386b;
  color: #edf5e1;
  transition: all 0.2s ease-in-out;
}

.darkButton:hover {
  background: #5cdb95;
  color: #05386b;
}

.fulfillmentContainer {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.fulfillmentInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.fulfillmentSpan {
  font-family: 'Montserrat', sans-serif;
  background: #05386b;
  color: #edf5e1;
  padding: 5px 7px;
  margin-left: -8px;
  margin-right: -8px;
  transition: all 0.2s ease-in-out;
}

.fulfillmentContainer:hover .fulfillmentSpan {
  background-color: #8ee4af;
  color: #05386b;
}

.fulfillmentContainer .fulfillmentInput:checked ~ .fulfillmentSpan {
  background: #5cdb95;
  color: #05386b;
}

.fulfillmentSpan::after {
  content: '';
  background: #05386b;
  color: #edf5e1;
}

#pickupBtn {
  border-radius: 7px 0 0 7px;
}

#deliveryBtn {
  border-radius: 0 7px 7px 0;
}

/* * Media Queries * */
@media screen and (min-width: 1216px) and (max-width: 1407px) {
  .listingCard {
    margin-top: 11rem;
  }
}

@media screen and (min-width: 1033px) and (max-width: 1215px) {
  .listingCard {
    margin-top: 9.5rem;
  }
}


@media screen and (min-width: 769px) and (max-width: 1032px) {
  .listingCard {
    margin-top: 8rem;
  }
}


@media screen and (max-width: 768px) {
  .formContainer {
    padding-top: 20px;
    width: 100%;
    /* margin-bottom: 80%; */
  }

  .form {
    position: relative;
    left: calc(-50vw + 50%);
    width: 100vw;
    padding: 40px 100px;
    margin-top: -5vh;
    border-radius: 0;
  }

  .description {
    padding-top: 20px;
    color: #05386b;
    background: none;
  }

  .listingCard {
    margin-top: -1rem;
  }
}

@media screen and (max-width: 480px) {
  .form {
    position: relative;
    left: calc(-50vw + 50%);
    width: 100vw;
    padding: 40px 20px;
    margin-top: -7vh;
    border-radius: 0;
  }
}